---
apiVersion: v1
kind: ConfigMap
metadata:
  name: dex-config
  namespace: kube-system
data:
  config.yaml: |
    issuer: http://10.244.4
    storage:
      type: kubernetes
      config:
        inCluster: true
    web:
      http: 0.0.0.0:5556
    
    connectors:
    - type: ldap
      id: active-directory
      name: Active Directory
      config:
        host: "{{ k8s_api_vip}}:389"
        insecureNoSSL: true
        bindDN: "cn=AnsibleService,ou=ServiceAccounts,dc=yourdomain,dc=local"
        bindPW: "YourSecurePassword"
        userSearch:
          baseDN: "ou=Users,dc=yourdomain,dc=local"
          filter: "(objectClass=person)"
          username: sAMAccountName
          idAttr: sAMAccountName
          emailAttr: mail
        groupSearch:
          baseDN: "ou=Groups,dc=yourdomain,dc=local"
          filter: "(objectClass=group)"
          userMatchers:
          - userAttr: DN
            groupAttr: member
          nameAttr: cn

    staticClients:
    - id: portainer-client
      redirectURIs:
      - 'http://10.244.4'
      name: 'Portainer GUI'
      secret: portainer-super-secret-key
---
apiVersion: v1
kind: Namespace
metadata:
  name: portainer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dex
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dex
  template:
    metadata:
      labels:
        app: dex
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      containers:
      - name: dex
        image: ghcr.io/dexidp/dex:v2.38.0
        command: ["dex", "serve", "/etc/dex/cfg/config.yaml"]
        ports:
        - name: http
          containerPort: 5556
        volumeMounts:
        - name: config
          mountPath: /etc/dex/cfg
      volumes:
      - name: config
        configMap:
          name: dex-config
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: portainer
  namespace: portainer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: portainer
  template:
    metadata:
      labels:
        app: portainer
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      containers:
      - name: portainer
        image: portainer/portainer-ce:latest
        ports:
        - containerPort: 9000
          name: http
        - containerPort: 9443
          name: https
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: ad-cluster-admins
subjects:
- kind: Group
  name: "Domain Admins"
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
