global
    log /dev/log local0
    group haproxy
    user haproxy
    daemon

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

# --- K8S API SERVER (6443) ---
frontend k8s-api
    bind {{ k8s_api_vip }}:6443
    default_backend k8s-masters

backend k8s-masters
    option httpchk GET /healthz
    http-check expect status 200
    balance roundrobin
    {% for host in groups['control_nodes'] %}
    # USE PROVISION_IP (10.x) for reliable internal discovery
    server {{ host }} {{ hostvars[host].provision_ip }}:6443 check check-ssl verify none
    {% endfor %}

# --- APPLICATION TRAFFIC (HTTPS - 443) ---
frontend k8s-ingress-https
    bind {{ k8s_api_vip }}:443
    default_backend k8s-workers-https

# --- APPLICATION TRAFFIC (HTTPS - 443) ---
backend k8s-workers-https
    balance roundrobin
    {% for host in groups['control_nodes'] %}
    server {{ host }} {{ hostvars[host].provision_ip }}:{{ ingress_https_nodeport | default('30443') }} check
    {% endfor %}

# --- APPLICATION TRAFFIC (HTTP - 80) ---
frontend k8s-ingress-http
    bind {{ k8s_api_vip }}:80
    default_backend k8s-workers-http

# --- APPLICATION TRAFFIC (HTTP - 80) ---
backend k8s-workers-http
    balance roundrobin
    {% for host in groups['control_nodes'] %}
    server {{ host }} {{ hostvars[host].provision_ip }}:{{ ingress_http_nodeport | default('30080') }} check
    {% endfor %}

# last line N