vrrp_script check_haproxy {
    script "pgrep -x haproxy"
    interval 2
    weight 2
}

vrrp_instance VI_1 {
    # Use 'item' because we are looping through the VM names
    state {{ 'MASTER' if item == groups['hahost'][0] else 'BACKUP' }}
    interface enp1s0 
    virtual_router_id 51
    # Use 'item' to find the index for priority
    priority {{ 100 - (groups['hahost'].index(item) * 10) }}
    advert_int 1
    
    authentication {
        auth_type PASS
        auth_pass 42
    }

    virtual_ipaddress {
        {{ k8s_api_vip }}/24
    }

    track_script {
        check_haproxy
    }
}