# Helper Configuration for acme
driftfile /var/lib/chrony/drift
makestep 1.0 3

# Sync with the public-facing IPA host
server {{ ipa_master_host }} iburst

# Allow the private provisioning zone
allow {{ helper_zone_cidr }}