[defaults]
# inventory = ../inventory.yaml
roles_path = roles:../roles
library = ./library
host_key_checking = False
retry_files_enabled = False

# Use built-in default callback with YAML formatting
stdout_callback = default
result_format = yaml

force_color = True
interpreter_python = auto_silent
# interpreter_python = ~/ansible-venv/bin/python
timeout = 30

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
control_path = ~/.ansible/cp/%%h-%%r
control_master = auto
control_persist = 60s
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null

